<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>

<h1>My Recipe</h1>
<table>
    <th>
        <td>Id</td>
        <td>Description</td>
        <td>Difficulty</td>
        <td>Direction</td>
        <td>Notes</td>
    </th>
    <tr th:each="recipe:${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.description}">Tasty Good</td>
        <td th:text="${recipe.getDifficulty()}"></td>
        <td th:text="${recipe.getDirections()}"></td>
        <td th:text="${recipe.getNotes().getRecipeNotes()}"></td>
    </tr>
</table>



</body>
</html>